<% requests.each do |request| %>
    <div>
        <%=link_to request.requester.first_name, user_path(request.requester) %>
        <%= image_tag requester.avatar if requester.avatar.attached? %>
        <button><%= link_to 'Approve', approve_request_path(request), method: :patch %> </button>
        <button><%= link_to 'Reject', reject_request_path(request), method: :patch %> </button>
    </div>
<% end %>