nav{
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}
.notification {
    padding: 0 0.4em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .notification-icon{
      font-size: 2em;
      padding-bottom: 0;
      text-shadow: 1px 1px #afaaaa;
  }
  .notification-icon:hover{
    text-decoration: none; 

  }
  
  .notification .badge {
    position: absolute;
    top: 0.05em;
    right: -0.5em;
    padding: 0.08em 0.4em;
    border-radius: 50%;
    background: red;
    color: white;
  }

.u-name{
  color: gray;
  font-weight: bolder;
  padding-left: 0.5em;
}
.u-name:hover{
    color:black;
    background: black;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    color: black;
    background: black;
    background-color: transparent;
}

@media only screen and (min-width: 768px) {
    
}
  